[submodule "deps/underwater_simulation"]
	path = deps/underwater_simulation
	url = https://github.com/uji-ros-pkg/underwater_simulation
[submodule "deps/netsim_tracing_examples"]
	path = deps/netsim_tracing_examples
	url = https://github.com/uji-ros-pkg/netsim_tracing_examples
[submodule "deps/dccomms_by_examples"]
	path = deps/dccomms_by_examples
	url = https://github.com/dcentelles/dccomms_by_examples.git
[submodule "deps/dccomms_ros_pkgs"]
	path = deps/dccomms_ros_pkgs
	url = https://github.com/dcentelles/dccomms_ros_pkgs.git
